.well {
    padding: 10px !important;
    margin: 10px !important;
    box-shadow: 5px 5px 3px #ddd;
}

h3 {
    margin-top: 15px !important;
}

.center {
    text-align:center;
}

.eq {
    padding:.5em !important;
}

.hide {
    visibility:none;
}

.lighten {
    color: #888;
}

.small {
    font-size:12pt !important;
}

.draggable {
    box-shadow: 2px 2px 1px #bbb;
}

.draggable:hover {
    border: 1px dashed black;
}